.navbar{
  background-color: red;
}

.barra:hover{
	background-color:#800000;
	transition: background-color 0.5s;
 	font-color: white;
 	
}
.nav-link:hover{
	color: white !important;
	transition: color 0.25s;
}

.mr-3{
  height: 75px;
  width: 75px;
}

.form{
  margin: 0 auto;
}

.prueba1{
  position: absolute;
  right: 120px;
}
.prueba2{
  position: absolute;
  right: 10px;
}
